/* nejsme vcerejsi, pouzivame moderni box model */
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


/* -------------------------------------------------- */

/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

/*
Poměrná velikost písma
----------------------
název: 1.2 (1.75) rem | 1.5 (2) rem | 1.75 (3) rem
meta: 0.8rem
padding: O.5rem | 1.25rem
min-height: 90 (200) | 150 (250) | 200 (400)
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.recept {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: 100px;
    padding: 0.5rem;
    background-color: #999;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #fff;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('images/kucharka.svg');
}

.recept-nazev {
    margin: 0;
    font-size: 1.2rem;
}

.recept-meta {
    display: flex;
    font-size: 0.8rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.recept-komentare {
    margin-left: auto;
}

.recept--hlavni {
    min-height: 200px;
}

.recept--salat {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
         url('images/salat.jpg');
}

.recept--chlebicek {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
         url('images/chlebicek.jpg');
}

.recept--tacos {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
         url('images/tacos.jpg');
}

.recept--cizrna {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
         url('images/cizrna.jpg');
}

.recept--burger {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
         url('images/burger.jpg');

}

@media screen and (min-width: 500px) {

    .recepty {
        display: flex;
        flex-wrap: wrap;
    }

    .recept {
        min-height: 150px;
    }

    .recept--hlavni {
        flex-basis: 100%;
        min-height: 250px;
    }

    .sloupec {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        border-right: 1px solid #fff;
    }

    .sloupec:last-child {
        border: none;
    }
}

@media screen and (min-width: 900px) {

    .recept--hlavni,
    .sloupec {
        flex-basis: calc(100%/3);
    }

    .recept {
        min-height: 200px;
        padding: 1.25rem;
    }

    .recept--hlavni {
        min-height: 400px;
        border-right: 1px solid #fff;
    }

    .recept-nazev {
        font-size: 1.75rem;
    }

    .recept--hlavni .recept-nazev {
        font-size: 3rem;
    }

    .recept-meta {
        font-size: 1rem;
    }
}